html, body {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Lato;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:hover {
	color: #c9bec3;
}

ul, ol {
	list-style: none;
}

.ibg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/* �� ���������� */

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 0;
	display: flex;
	flex-direction: column;
}


/* Main */

.main-screen {
	flex: 1 0 100%;
	position: relative;
}
.main-screen__bg {
	background-image: url(homebg.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


/* Header */

.header {
	position: absolute;
	width: 100%;
	z-index: 500;
	top: 35px;
}
.header__row {
	display: flex;
	font-size: 0;
	justify-content: center;
	align-items: center;
	height: 85px;
}
.header__menu {
	
}
.header__logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
}
@media screen and (max-width: 768px) {
	.header {
		background-color: #282f35;
		top: 0;
		position: fixed;
	}
	.header__logo {
		left: 0;
		transform: none;
	}
	.header__row {
		display: block;
	}
}


.burger {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
}
.burger__list {
	display: flex;
	position: absolute;
	width: 100%;
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	top: 85px;
	flex-direction: column;
	transition: 0.5s all;
}
.burger__list li {
	flex-basis: 25%;
	width: 100%;
}
.burger__link {
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	color: white;
	height: 100%;
	line-height: 85px;
	border-top: 1px solid white;
	background-color: #282f35;
	font-weight: 700;
}
#check-menu {
	display: none;
}
#check-menu:checked ~ .burger__list {
	font-size: 16px;
	max-height: 340px;
	transition: 0.5s all;
}
.burger-menu {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	width: 65px;
	height: 100%;
	cursor: pointer;
	z-index: 100;
	color: white;
	font-size: 18px;
}
.burger__line {
	position: absolute;
	top: 0;
	right: 0;
	width: 65px;
	height: 3px;
	background-color: white;
}
.first {
	top: 15px;
}
.second {
	top: 41px;
}
.third {
	top: 68px;
}
@media screen and (max-width: 768px) {
	.burger {
		display: block;
	}
}

.menu {
	height: 100%;
}
.menu__icon {
	
	
}
.menu__body {
	height: 100%;
}
.menu__list {
	display: flex;
	height: 100%;
	align-items: center;
}
.menu__list li {
	padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
	padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
	padding: 0 37.5px 0 110px;
}
.menu__list li:after {
	content: '';
	width: 2px;
	height: 2px;
	background-color: #4d4959;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin: -2px 0 0 37.5px;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
	display: none;
}
.menu__link {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	color: #4d4959;
}
@media screen and (max-width: 768px) {
	.menu__body {
		display: none;
	}
}

/* Content */

.content {
	
}


.generation {
	background-color: #f7f7f7;
	padding: 120px 0;
}
.generation__block {
	
}
@media screen and (max-width: 900px) {
	.generation {
		padding: 80px 0;
	}
}
@media screen and (max-width: 600px) {
	.generation {
		padding: 30px 0;
	}
}

.block {
	text-align: center;
}
.block__icon {
	margin: 0 0 33px 0;
}
.block__title {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #353738;
	margin: 0 0 18px 0;
	line-height: 24px;
}
.block__text {
	font-size: 18px;
	line-height: 34px;
	color: #848789;
}
.block__text_j {
	text-align: justify;
	text-align: 16px;
	line-height: 30px;
}
.block__text_j:after {
	content:'';
	display: block;
	margin: 35px auto 0;
	width: 50px;
	height: 1px;
	background-color: rgba(53,55,56,0.3)
}


/* Brands */

.brands {
	
}
.brands__row {
	display: flex;
	flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}
.brands__column {
	flex: 0 1 33.333%;
}
.brands__column_b {
	flex: 0 1 66.667%;
}
.brands__item {
	display: block;
}
.brands__content {
	padding: 70px 65px 55px;
	position: relative;
}
.brands__content:after {
	content:'';
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-rigth: 10px solid transparent;
	border-top: 10px solid #fff;
}
.brands__image {
	padding: 0 0 37.5% 0;
}
.brands__image_1 {
	background-image: url(images/pic_2.jpg);
}
.brands__image_2 {
	background-image: url(images/pic_4.jpg);
}
.brands__image_3 {
	background-image: url(images/pic_7.jpg);
}
@media screen and (max-width: 1403px) {
	.brands__content {
		padding: 60px 55px 45px;
	}
}
@media screen and (max-width: 1200px) {
	.brands__content {
		padding: 50px 45px 35px;
	}
}
@media screen and (max-width: 1126px) {
	.brands__row {
		flex-direction: column;
	}
}

.item {
	height: 100%;
	display: block;
	position: relative;
}
.item__logo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(100,194,158,0.5);
	opacity: 0;
}
.item:hover .item__logo {
	opacity: 1;
	transition: 0.6s;
}
.item__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.item__image_1 {
	background-image: url(images/pic_1.jpg);
}
.item__image_2 {
	background-image: url(images/pic_3.jpg);
}
.item__image_3 {
	background-image: url(images/pic_5.jpg);
}
.item__image_4 {
	height: 100%;
	display: block;
	position: relative;
	background-image: url(images/pic_6.jpg);
}
@media screen and (max-width: 1126px) {
	.item {
		height: auto;
		padding: 0 0 70% 0;
	}
	.item__image_4 {
		height: auto;
		padding: 0 0 70% 0;
	}
}
	
	
/* Slider */

.slider {
	background-color: #f7f7f7;
	padding: 120px 0;
}
.slider__body {
	
}
.slider__item {
	text-align: center;
}
.slider__icon {
	margin: 0 0 37px 0;
}
.slider__title {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #353738;
	margin: 0 0 20px 0;
}
.slider__title span {
	font-weight: 300;
	color: #848789
}
.slider__text {
	font-size: 24px;
	line-height: 34px;
	font-style: italic;
	font-weight: 400;
	color: #848789;
}
@media screen and (max-width: 992px) {
	.slider {
		padding: 100px 0;
	}
}
@media screen and (max-width: 768px) {
	.slider {
		padding: 80px 0;
	}
}


/* Shop */

.shop {
}
.shop__body {
	display: flex;
}
.shop__column {
	flex: 0 1 16.666%;
}
.shop__column_b {
	flex: 0 1 33.333%;
}
.shop__block {
	
}
@media screen and (max-width: 1126px) {
	.shop__body {
		flex-wrap: wrap;
	}
	.shop__column {
		flex: 1 1 50%;
	}
	.shop__column_b {
		flex: 1 1 100%;
	}
}

.item__logo span {
	margin: 10px 0 0 0;
	font-size: 14px;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}

.block-shop {
	height: 100%;
}
.block-shop__row {
	display: flex;
}
.block-shop__column {
	flex: 0 1 50%;
}
.block-shop__item {
	height: auto;
	padding: 0 0 50% 0;
}
.block-shop__item_l {
	padding: 0 0 100% 0;
}
.block-shop__item_b {
	padding: 0 0 200.5% 0;
}
.block-shop__image1 {background-image: url(images/shop_1.jpg);}
.block-shop__image2 {background-image: url(images/shop_2.jpg);}
.block-shop__image3 {background-image: url(images/shop_5.jpg);}
.block-shop__image4 {background-image: url(images/shop_3.jpg);}
.block-shop__image5 {background-image: url(images/shop_4.jpg);}
.block-shop__image6 {background-image: url(images/shop_6.jpg);}
.block-shop__image7 {background-image: url(images/shop_7.jpg);}
.block-shop__image8 {background-image: url(images/shop_8.jpg);}

.shop__footer {
	background-color: #282f35;
	padding: 75px 0;
	text-align: center;
}
.shop__btn {
	display: inline-block;
	min-height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	padding: 0 55px;
}
.shop__btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1126px) {
	.shop__footer {
		padding: 55px 0;
	}
}
@media screen and (max-width: 337px) {
	.shop__btn {
		padding: 0 25px;
	}
	.shop__footer {
		padding: 35px 0;
	}
}


/* Subscribe */

.subscribe {
	
}
.subscribe__body {
	max-width: 534px;
	text-align: center;
	margin: 0 auto;
	padding: 110px 0;
}
.subscribe__logo {
	margin: 0 0 39px 0;
}
.subscribe__label {
	font-size: 24px;
	font-style: italic;
	color: #848789;
	margin: 0 0 35px 0;
}
.subscribe__form {
	display: flex;
}
.subscribe_input {
	flex: 1 1 auto;
	padding: 0 8px 0 0;
}
.input {
	width: 100%;
	height: 69px;
	background-color: #ffffff;
	border: 1px solid #d3d7d9;
	padding: 0 25px;
	font-size: 20px;
	outline: none;
	font-style: italic;
	color: #333;
}
.input:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.subscribe__button {
	flex: 0 0 126px;
}
.subscribe__btn {
	width: 126px;
	height: 69px;
	background-color: #64c29e;
	font-size: 24px;
	color: #ffffff;
	border: 0;
	cursor: pointer;
}
.subscribe__btn:hover {
	background-color: #00FA9A;
}
@media screen and (max-width: 750px) {
	.subscribe__body {
		padding: 50px 0;
	}
}
@media screen and (max-width: 500px) {
	.subscribe__form {
		flex-direction: column;
	}
	.subscribe__btn {
		width: 100%;
	}
	.subscribe_input {
		padding: 0 0 10px 0;
	}
}

.input::-webkit-input-placeholder {
	font-size: 20px;
	font-style: italic;
	color: #929292;
	opacity: 0.8;
}
.input::-moz-placeholder {
	font-size: 20px;
	font-style: italic;
	color: #929292;
	opacity: 0.8;
}
.input:-moz-placeholder {
	font-size: 20px;
	font-style: italic;
	color: #929292;
	opacity: 0.8;
}
.input:-ms-input-placeholder {
	font-size: 20px;
	font-style: italic;
	color: #929292;
	opacity: 0.8;
}


/* Footer */

.footer {
	background-color: #f7f7f7;
}
.footer__row {
	display: flex;
	padding: 100px 0;
	align-items: center;
}
.footer__column {
	flex: 0 1 33.333%;
}
.footer__address {
	font-size: 13.9px;
	font-style: italic;
	color: #848789;
	line-height: 17px;
}
.footer__address p:first-child {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}
.footer__social {
	
}
.footer__dev {
	
}
@media screen and (max-width: 1126px) {
	.footer__row {
		padding: 50px 0;
	}
}
@media screen and (max-width: 600px) {
	.footer__row {
		padding: 30px 0;
		flex-direction: column;
		text-align: center;
	}
	
	.social {
		margin: 20px 0;
	}
	.footer__address {
		padding: 0;
	}
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social__link {
	margin: 0 7.5px;
}

.dev {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.dev__text {
	font-size: 13.9px;
	font-style: italic;
	color: #848789;
	padding: 0 9px 0 0;
}
.dev__logo {
	
}
